@import url("https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  background: url("../images/shoppingBackgroundBlurred.png");
}

.main-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #acddf1;
  flex-direction: column;
}
.main-nav__title {
  font-family: "Lato", sans-serif;
  font-size: 40px;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-form__input {
  width: 300px;
  height: 30px;
  margin: 10px 10px;
  border-radius: 5px;
  border: 2px solid black;
}
.main-form__input:hover {
  border-color: gray;
}
.main-form__icon {
  width: 25px;
  height: 25px;
}
