@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@300&display=swap');
* {
    
}

html {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: url("../images/shoppingBackgroundBlurred.png");
}
p{
    padding: 0;
    margin: 0;
}
h1{
    padding: 0;
    margin: 0;
}
ul{
    padding: 0
}
@import "./mainContent.scss";
@import "./mainNav.scss"
