@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
}
body{
    background: url("../images/shoppingBackground.avif");
}

.main-nav {
    //position: absolute;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #acddf1;
    flex-direction: column;
}
.main-form {
    display: flex;
    justify-content: center;
    align-items: center;

    &__input {
        margin: 10px 10px;
        border-radius: 5px;
        border: 2px solid black;
        width: 300px;
        height: 30px;
        &:hover{
            border-color: gray
        }

    }
}


.main-form__image{
    height: 25px;
    width: 25px;
}

.main-nav__title {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

.main-content__title {
    font-size: 35px;
    font-weight: 300;
    padding-top: 110px;//Porque aqui si pongo margin se core es todo
    padding-bottom: 25px;
}
.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.product-list__item {
    display: grid;
    gap: 5px;
    grid-template-columns: 200px 30px;
    grid-auto-rows: minmax(10px, auto);
    padding: 10px;
    margin: 9px;
    border: 1px solid #000;
    border-radius: 5px;
    align-items: center;

}
.product-list__item:hover {
    border-color: gray ;
}
.product-list__title {
    grid-column: 1 / 3;
    grid-row: 1;
}
.product-list__description {
    grid-column: 1 / 3;
    grid-row: 2;
}

.product-list__price {
    grid-column: 1; //ancho
    grid-row: 3; //alto//Otro comentario
}

.product-list__category {
    grid-column: 1;
    grid-row: 4;
}

.product-list__image {
    height: 225px;
    width: 225px;
    grid-column: 3;
    grid-row: 1 / 6;
}

.product-list__id {
    grid-column: 1;
    grid-row: 5;
}